.popup__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  /*background-size: contain;
  background-repeat: no-repeat;*/
}

.popup__content_image {
  width: auto;
  /*height: auto;*/
  min-height: 0;
  padding: 0px 0px;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 0px;
  background: none;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
